body {
  font-family: Arial;
  margin: 0;
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #444;
}

.main {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #eee;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

.login-box {
  width: 300px;
  margin: 150px auto;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
}

.error {
  color: red;
}
